{% extends 'base.html' %}
{% load static %}

{% block content %}
  <img src="{% static 'images/mountain.jpg' %}" alt="sample_img">
  <h1 class="text-center">CREATE</h1>
  <form action="" method="POST" enctype="multipart/form-data">
    <!-- 인증된 값이라는 것을 알려주기 위해 token 값을 함께 보내야 함 -->
    {% csrf_token %}
    <!-- views.create 에서도 get 받는 방식 변경 -->
    <div class="container p-0">
      <label for="title">TITLE</label>
    </div>
    <input type="text" name="title" id="title" required><br>
    <div class="container p-0">
      <label for="content">CONTENT</label>
    </div>
    <textarea name="content" id="content" cols="30" rows="5"></textarea><br>
    <label for="image">IMAGE</label>
    <input type="file" name="image" id="image" accept="image/*">
    <input type="submit" value="submit">
  </form>
{% endblock  %}
